<footer class=" text-white pt-5 pb-4 border border-dark ">
    <div class="container text-center text-md-start m-0" >
        <div class="d-flex row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <ul class="list-unstyled">
                    <li>
                        Concursos Públicos
                    </li>
                    <li>
                        Licitación de esta Institución
                    </li>
                    <li>
                        Pago de Proveedores
                    </li>
                    <li>
                        Consultas Ciudadanas
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <ul class="list-unstyled">
                    <li>
                        Empleos Públicos
                    </li>
                    <li>
                        Empleos Públicos Servicio Civil
                    </li>
                    <li>Trámites y Servicios en línea</li>
                    <li>Acceso Correo Institucional</li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <ul class="list-unstyled list-inline">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
                <div class="">
                    <img class="img-fluid" src="../../../assets/animales-footer.png">
                </div>
            </div>
            <div class="logo-gob">
                <img class="img-fluid" src="../../../assets/footer-gobierno.svg">
            </div>
        </div>
    </div>
</footer>