<main class="fondo" style="height: auto;">

    <div class="titulo-normativas ">
         <h1 class="text-white text-center">NORMASTIVAS <BR>AMBIENTALRES</h1>     
         <p class="text-white text-md-start text-center m-5 fs-5 ">
            En este sitio nos comprometemos a facilitar la información, haciendo entrega de esta de forma imparcial
            para hacer ejemplo de nuestro compromoso de no mostrar favoritismo alguno en lo que al uso de recursos
            naturales se refiere. 
            <br><br>
            Aqui tendrás acceso a las novedades en lo que a recursos naturales se refiere, podrás ver las noticias
            sobre el topico en el que estamos trabajando, tendrás la opción de crear una cuenta en la que podrás
            hacer uso de la opción "Guardar" para tener a mano las noticias que te interesaron, también podrás 
            postular a diferentes proyectos o actividades que se presenten al Sistema de
            Evaluación de Impacto Ambiental (SEIA).
         </p>   
    </div>
    
    <ul class="row justify-content-center m-0 " style="width: 100%;">
        <div class="col-2">
          <a href="https://www.bcn.cl/leychile/navegar?idNorma=30667" style="text-decoration:none;"> <div class="card text-dark bg-warning my-5" >
            <div class="card-header text-center">Ley N°19.300</div>
            <div class="card-body">
              <p class="card-title text-center">sobre Bases Generales del Medio Ambiente.
                <br><br><br><br>
            </p>
            </div>
          </div></a>
        </div>
        <div class="col-2">
          <a href="https://www.bcn.cl/leychile/navegar?idNorma=1010459" style="text-decoration:none;"> <div class="card text-dark bg-warning my-5">
            <div class="card-header text-center">Ley N°20.417</div>
            <div class="card-body">
              <p class="card-title text-center">que crea el Ministerio, el Servicio de Evaluación y la Superintendencia del Medio Ambiente.
                <br><br>
              </p>
            </div>
          </div></a>
        </div>
        <div class="col-2">
            <a href="https://www.bcn.cl/leychile/navegar?idNorma=210676" style="text-decoration:none;"> <div class="card text-dark bg-warning my-5">
            <div class="card-header text-center">Ley N°19.880</div>
            <div class="card-body">
              <p class="card-title text-center">sobre bases de los procedimientos administrativos que rigen los actos de los Órganos de la Administración del Estado.
                <br><br>
              </p>
            </div>
          </div></a>
        </div>
        <div class="col-2">
            <a href="https://www.bcn.cl/leychile/navegar?idNorma=191865" style="text-decoration:none;"> <div class="card text-dark bg-warning my-5">
            <div class="card-header text-center">DFL N°1-19.653</div>
            <div class="card-body">
              <p class="card-title text-center">fija texto refundido, coordinado y sistematizado de la Ley N°18.575, Orgánica constitucional de bases generales de la administración del Estado.
              </p>
            </div>
          </div></a>
        </div>
        <div class="col-2">
            <a href="https://www.bcn.cl/leychile/navegar?idNorma=205385" style="text-decoration:none;"> <div class="card text-dark bg-warning my-5">
            <div class="card-header text-center">DS Nº95, de 2001</div>
            <div class="card-body">
              <p class="card-title text-center">de MINSEGPRES, Reglamento del Sistema de Evaluación de Impacto Ambiental.
                <br><br><br>
              </p>
            </div>
          </div></a>
        </div>
      </ul>
 </main>