<body>
  <section class="d-flex bg-bluegob">
    <div
      class="container m-2 bg-noticias text-center mx-auto"
      style="width: auto"
    >
      <h5 class="text-center text-white m-5">NOTICIAS PRINCIPALES</h5>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card m-2 bg-bluecard" style="width: 18rem">
            <img
              src="../../../assets/salvar-amazonas.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card m-2 bg-bluecard" style="width: 18rem">
            <img
              src="../../../assets/pnguinos.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body" style="width: 18rem">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card bg-bluecard m-2" style="width: 18rem">
            <img
              src="../../../assets/multa-enap.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card bg-bluecard m-2" style="width: 18rem">
            <img
              src="../../../assets/maisa-rojas.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card m-2 bg-bluecard" style="width: 18rem">
            <img
              src="../../../assets/maisa-rojas.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card m-2 bg-bluecard" style="width: 18rem">
            <img
              src="../../../assets/slider-1.jpg"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card m-2 bg-bluecard" style="width: 18rem">
            <img
              src="../../../assets/pnguinos.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 mx-auto">
          <div class="card m-2 bg-bluecard" style="width: 18rem">
            <img
              src="../../../assets/camila-busante.png"
              style="height: 200px"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body jus">
              <h5 class="card-title text-white">Card title</h5>
              <p class="card-text text-white">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
