<section class="fondo d-block" style="height: auto">
  <ul class="row justify-content-center m-0" style="width: 100%">
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" style="width: 18rem">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h5 class="card-title text-center">Warning card title</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" style="width: 18rem">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h5 class="card-title text-center">Warning card title</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" style="width: 18rem">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h5 class="card-title text-center">Warning card title</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" style="width: 18rem">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h5 class="card-title text-center">Warning card title</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" style="width: 18rem">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h5 class="card-title text-center">Warning card title</h5>
          <p class="card-text text-center">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </ul>
  <p class="text-center text-white bg-info bg-opacity-10 m-0 p-5">
    El Servicio de Evaluación Ambiental te da la bienvenida a esta nueva
    plataforma de Participación Ciudadana (PAC) y <br />
    Proceso de Consulta a Pueblos Indígenas (PCPI).<br />
    La participación de la comunidad o participación ciudadana es fundamental
    dentro de la evaluación ambiental porque<br />
    permite que las personas se informen y opinen acerca de proyectos o
    actividades que se presenten al Sistema de<br />
    Evaluación de Impacto Ambiental (SEIA), como también, que obtengan respuesta
    fundada a sus observaciones<br />
    ciudadanas.<br />
    En este espacio podrás ejercer tu derecho a informarte y participar en los
    proyectos sometidos al SEIA.<br />
    Asimismo, aquí encontrarás aspectos relevantes sobre qué es y cómo funciona
    el SEIA, cómo realizar observaciones<br />
    ciudadanas, solicitudes de inicio de PAC, conocer los proyectos que están
    con procesos activos de Participación<br />
    Ciudadana, conocer las características de los proyectos y acceder a
    capacitaciones online, entre otros.<br />
    ¡Anímate y participa! Tus observaciones, solicitudes de inicio de PAC y
    comentarios ayudan a fortalecer la evaluación de<br />
    impacto ambiental.
  </p>
</section>
