<section class="fondo d-block" style="height: auto">
  <ul class="row justify-content-center m-0" style="width: 100%">
    <div class="col-2">
      <div class="card text-dark bg-warning my-5">
        
        <div class="card-body">
          <h5 class="card-title text-center">HOW</h5>
          <p class="card-text text-center">Puedes participar informándote sobre los proyectos en evaluación
             a través de la plataforma en línea. Accede a la sección de Participación Ciudadana y sigue las
              indicaciones para realizar observaciones ciudadanas de manera clara y fundamentada. Además, 
              puedes aprender sobre el proceso de Consulta a Pueblos Indígenas si es relevante
               en tu contexto.</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5">
        
        <div class="card-body">
          <h5 class="card-title text-center">WHEN</h5>
          <p class="card-text text-center">
            Participa en cualquier momento en que haya proyectos activos en evaluación. La plataforma 
            te proporcionará información actualizada sobre los procesos en curso. Asegúrate de realizar
             observaciones y solicitudes de inicio de PAC durante los períodos designados para la participación
              ciudadana.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" >
        
        <div class="card-body">
          <h5 class="card-title text-center">WHERE</h5>
          <p class="card-text text-center">
            La participación se realiza a través de la plataforma en línea proporcionada 
            por el Servicio de Evaluación Ambiental. Accede al sitio web específico y 
            busca la sección dedicada a la Participación Ciudadana. Desde allí, podrás 
            encontrar información sobre proyectos, realizar observaciones y, si es necesario,
             solicitar el inicio de un proceso de Participación Ciudadana.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" >
     
        <div class="card-body">
          <h5 class="card-title text-center">WHY</h5>
          <p class="card-text text-center">
            La participación ciudadana es esencial para fortalecer la evaluación 
            de impacto ambiental. Al participar, contribuyes a la toma de decisiones 
            informadas, asegurando que la voz de la comunidad sea escuchada. Tu 
            participación ayuda a considerar no solo los aspectos técnicos, sino también 
            las preocupaciones y conocimientos locales, mejorando la calidad de la evaluación 
            ambiental.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card text-dark bg-warning my-5" >

        <div class="card-body">
          <h5 class="card-title text-center">CAPACITATION</h5>
          <p class="card-text text-center">
            Accede a las capacitaciones en línea disponibles en la plataforma.
             Estas sesiones te proporcionarán información detallada sobre el Sistema 
             de Evaluación de Impacto Ambiental (SEIA), el proceso de participación
              ciudadana y cualquier aspecto relevante. Aprovecha estas oportunidades 
              para mejorar tu comprensión y participar de manera más efectiva en el proceso.
          </p>
        </div>
      </div>
    </div>
  </ul>
  <p class="text-center text-white bg-info bg-opacity-10 m-0 p-5">
    El Servicio de Evaluación Ambiental te da la bienvenida a esta nueva
    plataforma de Participación Ciudadana (PAC) y <br />
    Proceso de Consulta a Pueblos Indígenas (PCPI).<br />
    La participación de la comunidad o participación ciudadana es fundamental
    dentro de la evaluación ambiental porque<br />
    permite que las personas se informen y opinen acerca de proyectos o
    actividades que se presenten al Sistema de<br />
    Evaluación de Impacto Ambiental (SEIA), como también, que obtengan respuesta
    fundada a sus observaciones<br />
    ciudadanas.<br />
    En este espacio podrás ejercer tu derecho a informarte y participar en los
    proyectos sometidos al SEIA.<br />
    Asimismo, aquí encontrarás aspectos relevantes sobre qué es y cómo funciona
    el SEIA, cómo realizar observaciones<br />
    ciudadanas, solicitudes de inicio de PAC, conocer los proyectos que están
    con procesos activos de Participación<br />
    Ciudadana, conocer las características de los proyectos y acceder a
    capacitaciones online, entre otros.<br />
    ¡Anímate y participa! Tus observaciones, solicitudes de inicio de PAC y
    comentarios ayudan a fortalecer la evaluación de<br />
    impacto ambiental.
  </p>
</section>